@import '~src/theme/variables';
@import '~src/theme/media_query';
@import '~src/theme/spinner';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

html {
  height: -webkit-fill-available;
}

body {
  display                    : flex;
  flex-direction             : column;
  min-height                 : 100vh;
  margin                     : 0; // 1
  color                      : $body-color;
  background                 : $body-bg !important;
  -webkit-text-size-adjust   : 100%; // 3
  -webkit-tap-highlight-color: rgba($black, 0); // 4
  font-family                : 'saludsa-poppins' !important;
  font-size                  : .77rem !important;
  overflow-x                 : hidden;

  @include MQ(TS) {
    font-size: .79rem !important;
  }

  @include MQ(XS) {
    font-size: .81rem !important;
  }

  @include MQ(S) {
    font-size: .83rem !important;
  }

  @include MQ(MS) {
    font-size: .85rem !important;
  }

  @include MQ(M) {
    font-size: .87rem !important;
  }

  @include MQ(L) {
    font-size: .89rem !important;
  }

  @include MQ(XL) {
    font-size: .91rem !important;
  }
}

main {
  flex          : 1;
  display       : flex !important;
  flex-direction: column;
  background    : $body-bg !important;
}

app-root {
  flex          : 1;
  display       : flex;
  flex-direction: column;
}

/**ESTILOS PARA OCULTAR EL CONTENIDO PRINCIPAL CUANDO EL SPINNER PRINCIPAL SE MUESTRA**/
.bay-contenido-oculto {
  transform: scale(0) !important;
}

.bay-contenido-dinamico {
  .bay-cont-sin-spinner {
    router-outlet {
      flex: 0 !important;
    }

    >* {
      flex          : 1;
      display       : flex;
      flex-direction: column;
    }
  }
}

.bay-texto-no-titulo,
h4 {
  font-size: .83rem !important;

  @include MQ(TS) {
    font-size: .85rem !important;
  }

  @include MQ(XS) {
    font-size: .88rem !important;
  }

  @include MQ(S) {
    font-size: .91rem !important;
  }

  @include MQ(M) {
    font-size: .93rem !important;
  }

  @include MQ(L) {
    font-size: .95rem !important;
  }

  @include MQ(XL) {
    font-size: .97rem !important;
  }
}

h1,
h2,
h3,
h4,
p {
  color: $primary-dark;
}

h1 {
  font-size  : 1.15rem !important;
  line-height: 1.4rem !important;

  @include MQ(S) {
    font-size  : 1.25rem !important;
    line-height: 1.5rem !important;
  }

  @include MQ(MS) {
    font-size  : 1.5rem !important;
    line-height: 1.8rem !important;
  }

  @include MQ(M) {
    font-size  : 1.65rem !important;
    font-weight: bold !important;
    line-height: 1.95rem !important;
  }

  @include MQ(L) {
    font-size  : 1.8rem !important;
    line-height: 2.1rem !important;
  }
}

h3 {
  line-height: 1.3rem !important;
}

h1,
h2,
h3 {
  font-family: 'saludsa-poppins-bold' !important;
}

h4,
p,
div,
label {
  font-family: 'saludsa-poppins' !important;
}

hr {
  border       : 0;
  border-bottom: 1px solid #A7B8DC;
}

span {
  white-space: initial;
}

input {
  text-decoration: none !important;
}

/*******************************************************************
** ESTILOS GENERALES
**
** AUTOR: FREDI ROMAN
*******************************************************************/
.bay-texto-boton-chevron {
  white-space  : nowrap;
  overflow     : hidden;
  text-overflow: ellipsis;
  max-width    : 180px;

  @include MQ(XS) {
    max-width: 200px;
  }
}

.bay-texto-lower {
  text-transform: lowercase !important;
}

.bay-responsive-loader {
  width          : 100%;
  padding-top    : 3rem !important;
  display        : flex !important;
  justify-content: center !important;
  align-items    : center !important;
  align-content  : center !important;

  &.bay-loader-padre {
    @include MQ(M) {
      padding-top: 0.85rem !important;
    }
  }

  .bay-logo-loader {
    position   : absolute;
    left       : calc(50% - 25px);
    top        : calc(50% - 25px);
    padding-top: 0px !important;
  }

  @include MQ(M) {
    padding-top: 0rem !important;
    position   : absolute;
    top        : 0px;
    left       : 0px;
    height     : 100%;
  }
}

.bay-posicion-relativa {
  position: relative;
}

.bay-posicion-absoluta {
  position: absolute !important;
}

.bay-posicion-fixed {
  position: fixed !important;
}

.bay-z-index-0 {
  z-index: 0;
}

.bay-z-index-1 {
  z-index: 1;
}

.bay-z-index-2 {
  z-index: 2;
}

.bay-left-0 {
  left: 0px;
}

.bay-left-5 {
  left: 5px;
}

.bay-top-0 {
  top: 0px;
}

.bay-top-5 {
  top: 5px;
}

.bay-right-0 {
  right: 0px;
}

.bay-right-5 {
  right: 5px;
}

.bay-bottom-0 {
  bottom: 0px;
}

.bay-bottom-5 {
  bottom: 5px;
}

.bay-text-bold {
  font-weight: bold !important;
}

.bay-texto-body {
  color: $body-color !important;
}

.bay-texto-negro {
  color: map-get(map-get($primary-palette, contrast), 50) !important;
}

.bay-texto-primario {
  color: $primary !important;
}

.bay-texto-light {
  color: map-get($primary-palette, 200) !important;
}

.bay-texto-dark {
  color: $primary-dark !important;
}

.bay-texto-complemen-light {
  color: $complementario-light !important;
}

.bay-texto-complemen-dark {
  color: $complementario-dark !important;
}

.bay-texto-complemen2-dark {
  color: $complementario-2-dark !important;
}

.bay-texto-complemen4 {
  color: $complementario-4 !important;
}

.bay-texto-black {
  color: $color-texto-black !important;
}

.bay-color-celeste {
  color: $color-texto-celeste !important;
}

.bay-color-naranja {
  color: $color-texto-naranja !important;
}

.bay-texto-naranja-alerta {
  color: $naranja-alerta;
}

.bay-texto-primario-light {
  color: $blue-color !important;
}

.bay-text-uppercase {
  text-transform: uppercase;
  ;
}

.bay-text-underline {
  text-decoration: underline;
}

.bay-text-no-decoracion {
  text-decoration: none !important;
}

.bay-minitexto-error {
  font-size : .78rem !important;
  text-align: left;
  margin-top: 5px;
}

.bay-border-color-primary {
  border-color: $primary;
}

.bay-no-visible {
  visibility: hidden;
}

.bay-mica-pantalla {
  background: rgba(0, 0, 0, .5);
}

.bay-transicion-generica {
  transition: all .3s ease;
}

.bay-animacion-abajo-arriba-oculta {
  transform: translateY(110%);
}

.bay-animacion-pos-original {
  transform: translateY(0px);
}

.bay-list-none {
  list-style: none;
}

/*******************************************************************
** ESTILOS PARA LA SECCION DE CONTRATACION
**
** AUTOR: FREDI ROMAN
*******************************************************************/
.bay-burbuja {
  border-radius: 9px;
  position     : relative;

  .bay-flecha-burbuja {
    border-color: transparent transparent $celeste-fondo transparent;
    border-style: solid;
    border-width: 12px;
    height      : 0;
    width       : 0;
    position    : absolute;
    top         : -23px;
    left        : calc(50% - 14px);
  }

  &.bay-burbuja-info {
    background-color   : $celeste-fondo;
    box-shadow         : -9px -9px 18px 0 $body-bg, 9px 9px 18px 0 $sombra-celesta-info;
    background-color   : $celeste-gradiente;
    // background      : linear-gradient(130.91deg, #E0F0F7 0%, $body-bg 100%);
    display            : flex;
    flex-direction     : column;
    align-items        : center;
  }

  &.bay-burbuja-alerta {
    background-color: $body-bg;
    border          : 1px solid $naranja-alerta;
    box-shadow      : -9px -9px 18px 0 $sombra-naranja-alerta-1, 9px 9px 18px 0 $sombra-naranja-alerta-2;
  }
}

.bay-clausula-autorizacion {
  max-height: 35vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.bay-img-perfil-circular {
  width              : 45px;
  height             : 45px;
  border-radius      : 50% !important;
  background-position: center center !important;
  background-size    : cover !important;
}

.bay-asistente-superior {
  position: absolute;
  left    : calc(50% - 45px / 2);
  top     : 15px;
  z-index : 100000000001 !important;

  @include MQ(M) {
    top: 20px;
  }
}

/*******************************************************************
** ESTILOS PARA LA SECCION DE PLANES
**
** AUTOR: FREDI ROMAN
*******************************************************************/
.bay-conten-planes-elegidos {
  @include MQ(XL) {
    max-width: 600px !important;
  }

  &.bay-conten-amplio {
    @include MQ(XL) {
      max-width: 900px !important;
    }
  }
}

.bay-encabezado-plan {
  font-size: 20px !important;

  @media (min-width: 768px) {
    font-size: 24px !important;
  }
}

.bay-cobertura-plan {
  white-space  : nowrap;
  overflow     : hidden;
  text-overflow: ellipsis;
  max-width    : 135px;

  @include MQ(XS) {
    max-width: 160px;
  }

  @include MQ(M) {
    max-width: 175px;
  }
}

.bay-plan-rubro {
  border-bottom-style: dashed;
  border-bottom-width: 2px;
  border-bottom-color: $secondary;
}

.bay-detalle-rubro {
  width: 75%;

  @include MQ(M) {
    width: 100%;
  }

  &.bay-detalle-amplio {
    width: 100%;
  }
}

.bay-valor-rubro {
  width: 100px;

  @include MQ(S) {
    width: 150px;
  }

  @include MQ(MS) {
    width: 170px;
  }

  @include MQ(M) {
    width: 240px;
  }

  @include MQ(L) {
    width: 260px;
  }

  @include MQ(XL) {
    width: 280px;
  }
}

.bay-tabs-personal {
  min-height      : 30px;
  background-color: $body-bg;
  border          : solid 1px $primary-dark;
  font-size       : 11px;
  color           : $primary-dark !important;
  display         : flex;
  justify-content : center;
  align-items     : center;

  &.bay-tab-left {
    border-top-left-radius   : 4px;
    border-bottom-left-radius: 4px;
  }

  &.bay-tab-right {
    border-top-right-radius   : 4px;
    border-bottom-right-radius: 4px;
  }

  &.bay-tab-activa {
    color           : $body-bg !important;
    background-color: $primary-dark;
  }

  &.bay-tab-md {
    min-height: 40px;
    font-size : 13px;
  }

  &.bay-tab-inactiva {
    cursor        : not-allowed;
    opacity       : .5;
    pointer-events: none;
  }
}

.bay-seccion-ayuda {
  height          : 70px;
  width           : 100%;
  display         : flex;
  justify-content : center;
  align-items     : center;
  flex-shrink     : 0 !important;
  background-color: $primary-dark !important;
  color           : $body-bg !important;
  font-size       : 15px;
  text-decoration : none !important;

  .material-icons {
    font-size: 2.5rem;
  }

  p,
  a,
  a:active,
  a:hover {
    color: $body-bg;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.bay-encabezado-publicidad {
  font-size: 18px !important;
}

.bay-ilustracion-publicidad {
  width: 35% !important;
}

.bay-texto-publicidad {
  width: 65% !important;
}

.bay-cuerpo-publicidad {
  font-size: 15px !important;
}

.owl-prev,
.owl-next {
  background: transparent !important;
  color     : $secondary !important;

  .material-icons {
    font-size: 35px
  }
}

.bay-encabezado-wide {
  width           : 100%;
  background-color: $gray-color-light;

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.bay-card-sombra-interior {
  border-radius: 3px;
  box-shadow   : inset 1px 1px 5px -1px map-get($primary-palette, 200);

  //!NO MOVER EL ORDEN DE ESTAS CLASES:
  &.bay-card-input {
    position       : relative;
    min-height     : 55px;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding-left   : 1.1rem;
    padding-right  : 1.1rem;

    .material-icons {
      font-size    : 20px;
      padding-right: .5rem;
      margin-top   : .55rem;
      color        : $blue-color !important;
    }

    .mat-form-field {
      padding-top: .7rem;

      .mat-form-field-wrapper {
        padding-bottom: .7rem;

        .mat-form-field-underline {
          display: none !important;
        }
      }
    }

    .mat-radio-label,
    .mat-checkbox-layout {
      margin-bottom: 0px;

      .mat-checkbox-label {
        text-align: left !important;
      }
    }
  }

  &.bay-input-max-height {
    max-height: 55px;

    .mat-form-field {
      max-height : 55px;
      padding-top: 5px !important;
    }
  }

  &.bay-input-group {
    flex-direction : column;
    align-items    : flex-start;
    justify-content: center;
  }

  &.bay-input-invalid {
    box-shadow: inset 1px 1px 5px -1px $sombra-interna-rojo;

    .material-icons {
      color: $complementario-2-dark !important;
    }
  }

  &.bay-input-disabled {
    box-shadow: inset 1px 1px 5px -1px $complem-4-sombra-2;
    cursor    : not-allowed;

    .material-icons {
      color: $complementario-4 !important;
    }
  }

  &.bay-input-readonly {

    .material-icons,
    .mat-form-field-label,
    .mat-select-value,
    .mat-select-arrow,
    .mat-input-element,
    .mat-button-wrapper {
      color: $color-input-readonly !important;
    }
  }

  //
  &.bay-input-button {
    max-height   : 55px;
    padding-right: 0px;

    .bay-boton-input {
      max-width                 : 100px !important;
      height                    : 55px !important;
      border-top-left-radius    : 0px !important;
      border-bottom-left-radius : 0px !important;
      border-top-right-radius   : 3px !important;
      border-bottom-right-radius: 3px !important;
    }
  }
}

.bay-texto-input-error {
  font-size  : .73rem;
  line-height: 1px;
  text-align : left;
}

.bay-boton-cerrar,
.bay-boton-cerrar span {
  color    : map-get($primary-palette, 200) !important;
  font-size: 30px;
}

.bay-boton-cerrar {

  &.bay-cerrar-gris,
  &.bay-cerrar-gris span {
    color: $secondary !important;
  }
}

.bay-contenido-ayuda {
  font-size: 12px;
}

.bay-conector-carrusel {
  height    : 3px;
  width     : 100%;
  background: $primary;
  position  : absolute;
  bottom    : 15%;
  left      : 0px;

  @media (min-width: 768px) {
    bottom: 20%;
  }

  span:first-child {
    position     : absolute;
    width        : 25px;
    height       : 25px;
    border-radius: 50%;
    left         : calc(50% - 25px / 2);
    bottom       : -10px;
    border       : 1px solid $primary;
    background   : transparent;
  }

  span:last-child {
    position     : absolute;
    width        : 13px;
    height       : 13px;
    border-radius: 50%;
    left         : calc(50% - 13px / 2);
    bottom       : -4px;
    background   : $primary;
  }

  &.bay-conector-first {
    width: 50%;
    right: 0px;
    left : unset;

    span:first-child {
      left: -6px;
    }

    span:last-child {
      left: 0px;
    }
  }

  &.bay-conector-last {
    width: 50%;
    left : 0px;

    span:first-child {
      right: -6px;
      left : unset;
    }

    span:last-child {
      right: 0px;
      left : unset;
    }
  }
}

.bay-mensaje-inferior {
  font-size : 12px;
  text-align: left;
}

.bay-separador {
  width           : 1px;
  min-height      : 25px;
  background-color: $gray-color;
}

.bay-tooltip {
  position     : absolute;
  bottom       : 100%;
  right        : 0px;
  background   : rgba(0, 0, 0, .7);
  border-radius: 2px;
  padding      : 5px;
  font-size    : 11px;
  color        : $body-bg;
  text-align   : left;
  visibility   : hidden;
  z-index      : 1;

  &.bay-tool-agregar-plan {
    right     : 103% !important;
    left      : unset !important;
    width     : 70px !important;
    height    : 66px !important;
    bottom    : calc(50% - 66px / 2) !important;
    text-align: center !important;
  }

  &.bay-tool-visible {
    visibility: visible;
  }

  &.bay-tool-inicio {
    left: 0;
  }
}

.bay-contenedor-toogle {
  display: none;
}

.bay-toogle-tooltip {

  h4,
  p {
    color     : $body-color !important;
    text-align: left;
  }
}

.bay-icono-audio {
  width: 28px !important;
}

.bay-seccion-desplegable {
  border          : solid 1px $primary;
  border-radius   : 7px;
  background-color: $body-bg;

  .bay-cuerpo-oculto {
    display: none;
  }

  &.bay-deplegable-gris {
    background-color: $gray-color-light;
  }

  &.bay-depleg-borde-light {
    border: solid 1px $blue-color;
  }
}

.bay-boton-redondo {
  width           : 35px;
  height          : 35px;
  border-radius   : 50% !important;
  background-color: $primary;
  color           : $body-bg !important;
  display         : flex;
  justify-content : center;
  align-items     : center;
  box-shadow      : 2px 1px 5px 1px rgb(0 0 0 / 55%);
  text-decoration : none !important;

  .bay-icono-boton {
    font-size: 15px !important;

    @include MQ(M) {
      font-size: 18px !important;
    }
  }

  &.bay-boton-md {
    width : 25px;
    height: 25px;

    @include MQ(MS) {
      width : 30px;
      height: 30px;
    }
  }

  &.bay-boton-sm {
    width : 20px;
    height: 20px;

    .bay-icono-boton {
      font-size: 14px !important;
    }
  }

  &.bay-boton-gris {
    background-color: $gray-color;
  }

  &.bay-boton-verde {
    background-color: $verdeCheck;
    box-shadow      : unset;
    pointer-events  : none;
  }

  &.bay-boton-xl {
    width : 45px;
    height: 45px;
  }

  &.bay-boton-huge {
    width : 55px;
    height: 55px;

    .material-icons {
      font-size: 32px;
    }
  }

  &.bay-boton-blanco {
    background-color: $color-texto-blanco;
    box-shadow      : inset -3px -3px 6px 0 rgba(196, 196, 196, 0.5), inset 3px 3px 6px 0 rgba(218, 218, 218, 0.5);
  }
}

.bay-boton-eliminar {
  height          : 30px;
  width           : 30px;
  border-radius   : 0 6px;
  background-color: $complementario-2-dark;
  color           : $body-bg !important;
  opacity         : .6;
  text-decoration : none !important;
  display         : flex;
  justify-content : center;
  align-items     : center;

  .bay-icono-boton {
    font-size: 18px !important;
  }
}

.bay-valor-complemento {
  font-size: 20px;
}

.bay-check-benef {
  line-height: 14px;
}

.bay-quitar-complemento {
  width           : 20px;
  height          : 20px;
  border-radius   : 50%;
  border          : solid 2px transparentize($complementario-2-dark, .3);
  background-color: $body-bg;
  text-decoration : none !important;
  display         : flex;
  justify-content : center;
  align-items     : center;

  .material-icons {
    font-size  : 13px;
    font-weight: bold;
    color      : transparentize($complementario-2-dark, .3);
  }
}

.bay-titulo-confirm-modal {
  font-size  : 15.5px;
  line-height: 22px;
  color      : $blue-color;
  text-align : center !important;
  font-weight: bold;

  @include MQ(S) {
    font-size: 16px;
  }

  @include MQ(MS) {
    font-size: 16.5px;
  }

  @include MQ(M) {
    font-size  : 17px;
    line-height: 23px;
  }

  @include MQ(L) {
    font-size  : 18px;
    line-height: 24px;
  }
}

//DETALLE PAGOS:
.bay-titulo-detalle {
  font-size: 17px !important;

  @include MQ(S) {
    font-size: 19px !important;
  }

  @include MQ(MS) {
    font-size: 20px !important;
  }

  @include MQ(M) {
    font-size: 21px !important;
  }

  @include MQ(L) {
    font-size: 22px !important;
  }
}

.bay-item-resum-pago {
  div {
    .bay-link-detalle {
      display: none;
    }
  }
}

.bay-item-resum-pago:last-child {
  div {
    .bay-link-detalle {
      display: block;
    }
  }
}

.bay-input-cupon {
  font-size : 12px !important;
  border    : none !important;
  text-align: right;

  @include MQ(M) {
    font-size: 14px !important;
  }
}

.bay-boton-pago {
  .mat-button-wrapper {
    font-size: 17px !important;
  }
}

////

/*******************************************************************
** ESTILOS PARA MODIFICAR LA APARIENCIA DE CONTROLES DE LA BIBLIOTECA
** 'MATERIAL'
**
** AUTOR: FREDI ROMAN
*******************************************************************/
.mat-option {
  height: 50px !important;

  .mat-option-text {
    font-size: .83rem !important;

    @include MQ(TS) {
      font-size: .85rem !important;
    }

    @include MQ(XS) {
      font-size: .88rem !important;
    }

    @include MQ(S) {
      font-size: .91rem !important;
    }

    @include MQ(M) {
      font-size: .93rem !important;
    }

    @include MQ(L) {
      font-size: .95rem !important;
    }

    @include MQ(XL) {
      font-size: .97rem !important;
    }
  }
}

.mat-option.mat-active {
  background: #DCE6F7 !important;
  color     : $body-color !important;
}

.mat-form-field {
  width  : 100%;
  display: block;
}

.mat-radio-label {
  display       : flex;
  flex-direction: column;

  .mat-radio-container {
    width : 30px !important;
    height: 30px !important;

    .mat-radio-outer-circle {
      border-width: thin !important;
      width       : 30px !important;
      height      : 30px !important;
    }

    .mat-radio-inner-circle {
      width           : 30px !important;
      height          : 30px !important;
      background-color: $primary-dark;
    }
  }
}

.mat-flat-button {
  width        : 100%;
  height       : 45px;
  border-radius: 10px !important;
  font-size    : 13px !important;
  font-weight  : bold;
  color        : $body-bg;

  .material-icons {
    color: $body-bg !important;
  }

  @include MQ(XS) {
    font-size: 14px !important;
  }

  @include MQ(S) {
    font-size: 15px !important;
    width    : 300px;
  }

  @include MQ(M) {
    width: 315px;
  }

  @include MQ(L) {
    font-size: 16px !important;
  }

  &.bay-boton-inactivo {
    background-color: $gray-color-m-light !important;

    .material-icons {
      color: $secondary !important;
    }
  }

  &.bay-boton-delineado {
    color           : $primary;
    border          : solid 1px $primary;
    font-weight     : 500 !important;
    background-color: $body-bg !important;

    .material-icons {
      color: $primary !important;
    }
  }

  &.bay-btn-gradiente-primario {
    background: linear-gradient(to right, $blue-color, $blue-light-color);
    box-shadow: 0 24px 48px -12px $sombra-boton-gradiente;
  }
}

.mat-button-disabled {
  background-color: $gray-color-m-light !important;
  color           : $secondary !important;

  .material-icons {
    color: $secondary !important;
  }
}

.bay-radio-group-vertical {
  width         : fit-content;
  display       : flex;
  flex-direction: column;

  .mat-radio-button {
    .mat-radio-label {
      display       : flex;
      flex-direction: row;
    }
  }

  @include MQ(MS) {
    width: 100%;
  }
}

.bay-radio-group-horizontal {
  width          : fit-content;
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  flex-wrap      : wrap;

  .mat-radio-button {
    .mat-radio-label {
      display       : flex;
      flex-direction: row;
    }
  }
}

.bay-radio-small {
  .mat-radio-label {

    .mat-radio-label-content {
      padding-left: .3rem !important;

      @include MQ(S) {
        padding-left: .5rem !important;
      }
    }

    .mat-radio-container {
      width : 23px !important;
      height: 23px !important;

      .mat-radio-outer-circle {
        border-width: thin !important;
        width       : 23px !important;
        height      : 23px !important;
      }

      .mat-radio-inner-circle {
        width           : 23px !important;
        height          : 23px !important;
        background-color: $primary-dark;
      }
    }
  }
}


.mat-checkbox {
  .mat-checkbox-layout {
    .mat-checkbox-inner-container {
      width : 25px;
      height: 25px;

      .mat-checkbox-frame {
        border-width: thin;
      }
    }
  }

  &.bay-small-check {
    .mat-checkbox-layout {
      .mat-checkbox-inner-container {
        width : 18px;
        height: 18px;
      }
    }
  }
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $primary-dark;
}

.bay-checkbox-info-medica {
  label {
    .mat-checkbox-label {
      padding-left: 10px !important;
    }
  }
}

.bay-checkbox-terminos {
  label {
    .mat-checkbox-label {
      padding-left: 6px !important;
    }
  }
}

.mat-snack-bar-container {
  background: $primary-dark !important;
  color     : $body-bg !important;
  box-shadow: 3px 3px 9px 0 $sombra-snackbar !important;
}

.bay-color-info {
  .mat-simple-snackbar-action {
    color: $color-info-snackbar;
  }
}

.bay-color-success {
  .mat-simple-snackbar-action {
    color: $success;
  }
}

.bay-color-warning {
  .mat-simple-snackbar-action {
    color: $warning;
  }
}

.bay-color-danger {
  .mat-simple-snackbar-action {
    color: $danger;
  }
}

.bay-normal-modal {
  .mat-dialog-container {
    width        : 100%;
    border-radius: 0px !important;
    position     : absolute;
    left         : 0;
    top          : 0;
    overflow     : hidden !important;
    padding-top  : 60px !important;
    padding-left : 0px !important;
    padding-right: 0px !important;

    @include MQ(M) {
      position     : unset;
      border-radius: 4px !important;
      margin-top   : 50px;
      padding-top  : 0px !important;
      max-width    : 950px;
    }

    .mat-dialog-content {
      margin-left : 0px !important;
      margin-right: 0px !important;
      height      : 100% !important;
      max-height  : unset !important;
      overflow    : hidden !important;

      @include MQ(M) {
        max-height: 80vh !important;
      }

      @include MQ(XL) {
        max-height: 90vh !important;
      }
    }
  }
}

.bay-modal-no-encabezado {
  .mat-dialog-container {
    .mat-dialog-content {

      @include MQ(M) {
        max-height: 70vh;
      }
    }
  }
}

.bay-modal-encabezado-grande {
  .mat-dialog-container {
    .mat-dialog-content {

      @include MQ(M) {
        max-height: 57vh;
      }

      @include MQ(L) {
        max-height: 70vh;
      }
    }
  }
}

.bay-modal-spinner {
  min-width : 450px !important;
  min-height: 350px !important;
}

.bay-modal-popup {
  .mat-dialog-container {
    background-color: $gray-color-light !important;
    height          : 93%;
    top             : unset;
    bottom          : 0;
    padding-top     : 0px !important;
    border-radius   : 4px !important;

    @include MQ(XS) {
      height: 80%;
    }

    @include MQ(M) {
      min-width: 500px;
      max-width: 800px;
      height   : unset;
      overflow : hidden !important;
    }

    .mat-dialog-content {
      height    : 100% !important;
      max-height: unset !important;
      overflow  : hidden !important;
    }

    @include MQ(M) {
      max-height: 60vh !important;
    }

    @include MQ(XL) {
      max-height: 70vh !important;
    }
  }

  &.bay-popup-detalle-pago {
    .mat-dialog-container {
      @include MQ(M) {
        min-width: 600px;
        max-width: 600px;
      }
    }
  }

  &.bay-popup-confirm {
    .mat-dialog-container {
      height: 55%;

      @include MQ(M) {
        min-width: 300px;
        max-width: 500px;
      }

      .mat-dialog-content {
        height    : 100% !important;
        max-height: unset !important;
        overflow  : hidden !important;
      }
    }
  }

  &.bay-popup-exp-tarjeta {
    .mat-dialog-container {
      height: 85%;

      @include MQ(XS) {
        height: 67%;
      }

      @include MQ(M) {
        min-width: 300px;
        max-width: 500px;
      }

      .mat-dialog-content {
        height    : 100% !important;
        max-height: unset !important;
        overflow  : hidden !important;
      }
    }
  }
}

/*******************************************************************
** ESTILOS SALUD
** AUTOR: FREDI ROMAN
*******************************************************************/
.bay-texto-resultado {
  font-size  : 25px !important;
  line-height: 29px !important;
}

.bay-cabecera {
  position  : fixed;
  top       : 0px;
  left      : 0px;
  box-shadow: 0 0 20px $secondary;
  z-index   : 1000000000000 !important;
  width     : 100%;
  height    : 40px;
  background: $body-bg !important;

  @include MQ(M) {
    height: 45px;
  }
}

.bay-cuerpo-app {
  overflow-x: hidden !important;
  margin-top: 40px;

  @include MQ(M) {
    margin-top: 45px;
  }
}

.bay-pie {
  h4 {
    font-size: 14px !important;
  }

  @include MQ(L) {
    h4 {
      font-size: 16px !important;
    }
  }

  .bay-linea-pie {
    background-color: $body-color;
  }
}

.bay-plan-card {
  min-height      : 120px;
  border-radius   : 9px !important;
  padding         : 16px;
  background-color: $body-bg;
  box-shadow      : 1px 1px 4px 0 $secondary, -1px -1px 4px 0 $shadow-color;
  transition      : all .25s ease !important;

  .bay-cuerpo-ayuda {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;

    @include MQ(M) {
      max-height: 175px;
    }
  }

  &.bay-card-force-shadow {
    box-shadow: 1px 1px 4px 0 $secondary, -1px -1px 4px 0 $shadow-color !important;
  }

  &.bay-card-pasarela {
    box-shadow: -2px -2px 4px 0 $body-bg, 2px 2px 4px 0 $sombra-pasarela !important;
    min-height: 165px !important;
  }

  &.bay-plan-seleccion {
    background-color: $primary-light;
  }

  &.bay-plan-carrusel-short {
    min-height: 190px;
    box-shadow: -9px -9px 20px -12px rgba(227, 232, 242, 0.8), 9px 9px 20px -12px rgba(153, 173, 209, 0.5) !important;

    .bay-val-mensual-label {
      font-size: 12px !important;
    }

    @include MQ(M) {
      min-height: 170px;
    }
  }

  &.bay-plan-width-short {
    min-height: 150px;

    @include MQ(M) {
      min-height: 160px;
    }
  }

  &.bay-plan-carrusel-xsmall {
    min-height: 310px;
  }

  &.bay-plan-carrusel-small {
    min-height: 340px;

    @include MQ(M) {
      min-height: 270px;
    }
  }

  &.bay-plan-carrusel-medium {
    min-height: 433px;
  }

  &.bay-plan-mas {
    width: 40px;

    @include MQ(MS) {
      width: 50px;
    }
  }

  &.bay-plan-1 {
    //ESENCIAL
    box-shadow: -9px -9px 18px 0 $complem-3-sombra-1, 9px 9px 9px 0 $complem-3-sombra-2 !important;
  }

  &.bay-plan-2 {
    //ELITE
    box-shadow: -9px -9px 18px 0 $sombra-primary-dark-1, 9px 9px 9px 0 $sombra-primary-dark-2 !important;
  }

  &.bay-plan-3 {
    //PRACTICO
    box-shadow: -9px -9px 18px 0 $complem-sombra-1, 9px 9px 9px 0 $complem-sombra-2 !important;
  }

  &.bay-plan-4 {
    //IDEAL
    box-shadow: -9px -9px 18px 0 $complem-2-sombra-1, 9px 9px 9px 0 $complem-2-sombra-2 !important;
  }

  &.bay-plan-5 {
    //PRIVILEGIO
    box-shadow: -9px -9px 18px 0 $complem-4-sombra-1, 9px 9px 9px 0 $complem-4-sombra-2 !important;
  }

  &.bay-plan-6 {
    //PRIVILEGIO PLUS
    box-shadow: -9px -9px 18px 0 $complem-4-sombra-1, 9px 9px 9px 0 $complem-4-sombra-2 !important;
  }
}

.bay-boton-disabled {
  button {
    cursor        : not-allowed;
    pointer-events: none;
    color         : $secondary;
  }
}


/*******************************************************************
** ESTILOS ICONOS SALUD
** AUTOR: FREDI ROMAN
*******************************************************************/

.bay-icono-plan {
  font-size: 2rem;

  &.bay-icono-md {
    font-size: 3.8rem;
  }
}


/*******************************************************************
** ESTILOS PARA EL EFECTO DE TRANSICION DE LAS PANTALLAS
** AUTOR: FREDI ROMAN
*******************************************************************/

// ¡¡¡¡NO MOVER DEL SIGUIENTE ORDEN LAS CLASES A CONTINUACION DEFINIDAS!!!!
.bay-contenedor-animado {
  transform : translateX(150%);
  transition: transform .2s ease;

  &.bay-primer-contenedor {
    transform: translateX(0);
  }

  &.cont-animado-inv {
    transform: translateX(-150%);
  }

  &.bay-mostrar {
    transition: transform .1s ease;
    transform : translateX(0);
  }

  &.bay-ocultar {
    transform: translateX(-150%);
  }

  &.bay-ocultar-inv {
    transform: translateX(150%);
  }
}

////////

/*******************************************************************
** ESTILOS FLEXBOX ADICIONALES
** AUTOR: FREDI ROMAN
*******************************************************************/

.bay-flex-hijo-grow {
  flex: 1 0 auto !important;
}

.bay-flex-hijo {
  flex: 1 !important;
}

.bay-flex-hijo-no-grow {
  flex: 0 !important;
}

.bay-flex-hijo-scroll {
  flex      : 1 1 auto !important;
  overflow-y: auto !important;
  height    : 0px !important;
}

.bay-flex-hijo-scroll-modal {
  flex      : 1 1 auto !important;
  overflow-y: auto !important;
}

.bay-no-shrink {
  flex-shrink: 0 !important;
}

.bay-flex-shrink {
  flex-shrink: 1 !important;
}

//ESTILOS COMPONENTE PLANES/ELEGIR
.card-elegir-add {
  box-shadow   : 0 0 20px #FFEEDF !important;
  margin       : 10px;
  padding-left : 2px;
  padding-right: 15px;
  width        : 60px;
}

.btn-color {
  border-radius: 1px #99ADD1;
}

.card-subtitulo {
  font-size  : 16px;
  padding-top: 20px;
  color      : #2B2B2B;
}

.valores {
  margin-top     : 5px;
  margin-bottom  : 5px;
  display        : flex;
  justify-content: space-between;
}

.valores-titulo {
  color: $blue-color;
}

.valores-valorP1 {
  font-size: 18px;
  color    : $primary;
}

.valores-valorP2 {
  font-size: 18px;
  color    : $complementario-dark;
}

.valores-valorP4 {
  font-size: 18px;
  color    : $complementario-dark;
}

.valores-valorP3 {
  font-size: 18px;
  color    : $blue-color;
}

.valores-valorP7 {
  font-size: 18px;
  color    : $primary-dark;
}

.valores-valorP5 {
  font-size: 18px;
  color    : $complementario-2-dark;
}

.valores-valorP9 {
  font-size: 18px;
  color    : $complementario-4;
}

.valores-valorP11 {
  font-size: 18px;
  color    : $secondary;
}

.titulo-boton {
  font-size  : 12px;
  font-weight: bold;
}

.button-cupon {
  color          : $blue-color;
  font-size      : 18px;
  display        : flex;
  justify-content: center !important;
  width          : 100% !important;
}

.detalle-pago {
  margin-top     : 10px;
  font-size      : 15px;
  color          : $blue-color;
  display        : flex;
  justify-content: center;
}

.total-titulo {
  font-size  : 24px;
  color      : $color-texto-black;
  font-weight: bold;
}

.card-seguro-vida {
  background-color: $blue-color;
  color           : $body-bg;
  border-radius   : 9px;
}

.titulo-seguro-vida {
  color      : $body-bg;
  font-size  : 15px;
  font-weight: bold;
}

.ubicacion-seguro-vida {
  display        : flex;
  justify-content: space-between;
}

.valores-titulo-seguro {
  color: $body-bg;
}

.valores-valor-seguro {
  font-size  : 21px;
  color      : $body-bg;
  font-weight: bold;
}

#desktop-tarjetas {
  display        : flex;
  justify-content: center;
}

.shape {
  height          : 25px;
  width           : 25px;
  background-color: $blue-color;
  border-radius   : 20px;
  font-size       : 18px;
  color           : $body-bg;
  padding-left    : 6px;
  padding-top     : 5px;
}

.agregar-plan {
  display        : flex;
  justify-content: flex-end;
  cursor         : pointer;
}

.trash-simple-line-icons {
  height        : 24px;
  width         : 20px;
  color         : $body-bg !important;
  font-family   : simple-line-icons;
  font-size     : 20px;
  letter-spacing: NaNpx;
  line-height   : 24px;
}

//ESENCIAL 
.card-elegir1 {
  box-shadow   : -9px -9px 18px 0 $complem-3-sombra-1, 9px 9px 9px 0 $complem-3-sombra-2 !important;
  border-radius: 9px;
  margin       : 10px;
  padding-left : 2px;
  padding-right: 15px;
}

//ELITE
.card-elegir7 {
  color        : $primary-dark;
  box-shadow   : -9px -9px 18px 0 $sombra-primary-dark-1, 9px 9px 9px 0 $sombra-primary-dark-2 !important;
  margin       : 10px;
  padding-left : 2px;
  padding-right: 15px;
}

//PRACTICO 3
.card-elegir4 {
  box-shadow   : -9px -9px 18px 0 $complem-sombra-1, 9px 9px 9px 0 $complem-sombra-2 !important;
  margin       : 10px;
  padding-left : 2px;
  padding-right: 15px;
}

//IDEAL
.card-elegir5 {
  box-shadow   : -9px -9px 18px 0 $complem-2-sombra-1, 9px 9px 9px 0 $complem-2-sombra-2 !important;
  margin       : 10px;
  padding-left : 2px;
  padding-right: 15px;
}

//PRIVILGIADO
.card-elegir9 {
  box-shadow   : -9px -9px 18px 0 $complem-4-sombra-1, 9px 9px 9px 0 $complem-4-sombra-2 !important;
  margin       : 10px;
  padding-left : 2px;
  padding-right: 15px;
}

//PRIVILEGIADO PLUS
.card-elegir11 {
  box-shadow   : -9px -9px 18px 0 $complem-4-sombra-1, 9px 9px 9px 0 $complem-4-sombra-2 !important;
  margin       : 10px;
  padding-left : 2px;
  padding-right: 15px;
}

.card-elegir {
  box-shadow   : -9px -9px 18px 0 $complem-sombra-1, 9px 9px 9px 0 $complem-sombra-2 !important;
  margin       : 10px;
  padding-left : 2px;
  padding-right: 15px;
}

//ELITE
.card-elegir3 {
  box-shadow   : -9px -9px 18px 0 $complem-sombra-1, 9px 9px 9px 0 $complem-sombra-2 !important;
  margin       : 10px;
  padding-left : 2px;
  padding-right: 15px;
}

.card-elegir-add {
  box-shadow   : 0 0 20px #FFEEDF !important;
  margin       : 10px;
  padding-left : 2px;
  padding-right: 15px;
  width        : 60px;
}

.titulo-elegir1 {
  color    : $primary;
  font-size: 24px;
}

.titulo-elegir2 {
  color    : $complementario-dark;
  font-size: 24px;
}

//PRACTICO
.titulo-elegir4 {
  color    : $complementario-dark;
  font-size: 24px;
}

//IDEAL
.titulo-elegir5 {
  color    : $complementario-2-dark;
  font-size: 24px;
}

.titulo-elegir7 {
  color    : $primary-dark;
  font-size: 24px;
}

.titulo-elegir9 {
  color    : $complementario-4;
  font-size: 24px;
}

.titulo-elegir11 {
  color    : $secondary;
  font-size: 24px;
}

//ESTILOS COMPARADOR DE PLANES
.bay-card-sombra-interior-com {
  border-radius: 3px;
  box-shadow   : inset 1px 1px 5px -1px map-get($primary-palette, 200);
}

.comp-boton-iz {
  padding         : 8px;
  background-color: #00338D;
  color           : white;
  border-radius   : 5px 0px 0px 5px;
  font-size       : 12px;
}

.comp-boton-de {
  padding         : 8px;
  background-color: white;
  color           : #00338D;
  border-radius   : 0px 5px 5px 0px;
  border          : 1px solid #00338D;
  font-size       : 12px;
}

.com-deducibles {
  display        : flex;
  justify-content: center;
}

.com-titulos {
  display        : flex;
  justify-content: space-around;
}

.com-titulo-color-iz {
  color        : $complementario-dark;
  font-size    : 15px;
  margin-bottom: 11px;
}

.com-titulo-color-de {
  color        : $complementario-2-dark;
  font-size    : 15px;
  margin-bottom: 11px;
}

.titulos {
  display        : flex;
  justify-content: start;
}

.titulo-dos {
  color    : $color-texto-black;
  font-size: 14px;
}

.titulos-valores {
  display        : flex;
  justify-content: space-around;
}

.valor-uno {
  color    : $complementario-dark;
  font-size: 18px;
}

.valor-centro {
  height          : 25px;
  width           : 1.57px;
  background-color: #D8D8D8;
}

.valor-dos {
  color    : $complementario-2-dark;
  font-size: 18px;
}

//ESTILOS MODAL DETALLE PAGO
.titulo-modal {
  margin-top     : 20px;
  font-size      : 13px;
  display        : flex;
  justify-content: center;
}

.valores-modal {
  display        : flex;
  justify-content: space-between;
}

.valor-dos-modal {
  color: $complementario-dark;
}

#color-modal {
  width           : 50%;
  background-color: $color-fondo-modal;
}

/*******************************************************************
** ESTILOS SALUD
** AUTOR: FREDDY CASTILLO
*******************************************************************/

.bay-plan-titulo {
  font-size  : 25px !important;
  line-height: 36px !important;

  @media (min-width: 768px) {
    font-size: 30px !important;
  }
}

.bay-plan-titulo-button {
  font-size  : 16px !important;
  line-height: 25px !important;

  @media (min-width: 768px) {
    font-size: 18px !important;
  }
}

.bay-plan-nombre {
  font-size: 15px !important;
}

.bay-plan-precio {
  color    : $blue-color !important;
  font-size: 15px !important;
}

.bay-card_satisfaccion {
  min-height: auto !important;
}

.bay-satisfaccion {
  max-width: 320px;
}

.bay-satisfaccion-link {
  width: 60%;

  @media (min-width: 576px) {
    width: 70%;
  }
}

.bay-card_satisfaccion-question:before,
.bay-card_satisfaccion-question:after {
  content          : "";
  width            : 0px;
  height           : 0px;
  position         : absolute;
  right            : -0.4em;
  bottom           : 25%;
  transform        : rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform    : rotate(45deg);
  -o-transform     : rotate(45deg);
  -moz-transform   : rotate(45deg);

  border-top   : 0.4em solid transparent;
  border-bottom: 0.4em solid transparent;
}

.bay-card_satisfaccion-question:before {
  border-left : 0.4em solid $body-bg;
  border-right: 0.4em solid transparent;
  box-shadow  : 1px 1px 4px 0 $secondary, -1px -1px 4px 0 $shadow-color !important;
  z-index     : -1;
}

.bay-card_satisfaccion-question:after {
  border-left     : 0.4em solid transparent;
  border-right    : 0.4em solid $body-bg;
  background-color: $body-bg;
}

.bay-card_satisfaccion-icon {
  background-color   : $blue-color;
  background-image   : url(../assets/icon-smile.svg);
  background-repeat  : no-repeat;
  background-size    : 2em;
  background-position: center;
  border-radius      : 0px 9px 9px 9px !important;
  padding            : 1.2rem !important;

}

.bay-card_satisfaccion-icon:before,
.bay-card_satisfaccion-icon:after {
  content      : "";
  width        : 0px;
  height       : 0px;
  position     : absolute;
  left         : -0.6em;
  top          : 0%;
  border-left  : 0.6em solid transparent;
  border-bottom: 0.6em solid transparent;
}

.bay-card_satisfaccion-icon:before {
  z-index: -1;
}

.bay-card_satisfaccion-icon:after {
  border-top: 0.6em solid $blue-color;
}

.bay-texto-15 {
  font-size: 15px !important;
}

.bay-car-height-auto {
  min-height: auto;
}

.bay-modal-terminos {
  .mat-dialog-container {
    max-height: 90% !important;
    height    : 90% !important;
    overflow  : auto;
  }

  .mat-dialog-content {
    max-height: 90vh !important;
    min-height: 90vh !important;

    @media (min-width: 768px) {
      max-height: 70vh !important;
      min-height: 70vh !important;
    }
  }

  .bay-boton-footer {
    max-height: 15% !important;

    @include MQ(XS) {
      max-height: 18% !important;
    }
  }
}

.bay-popop-html {
  background-color: $body-bg;
}

.disabled-href {
  pointer-events: none;
  cursor        : default;
}