<div class="d-flex flex-row justify-content-between mb-4">
    <ng-container *ngIf="!atHome">
        <a [routerLink]="'/home'" [routerLinkActive]="'fr-link-active'" class="fr-link">
            <h4 class="mb-0">Inicio</h4>
            <span></span>
        </a>
        <div class="fr-divider"><span></span></div>
    </ng-container>
    <a [routerLink]="'/admin'" [routerLinkActive]="'fr-link-active'" class="fr-link">
        <h4 class="mb-0">Administración</h4>
        <span></span>
    </a>
    <div class="fr-divider"><span></span></div>
    <a [routerLink]="'/git-profiles'" [routerLinkActive]="'fr-link-active'" class="fr-link">
        <h4 class="mb-0">Perfiles</h4>
        <span></span>
    </a>
</div>