$gray-color        : #D8D8D8;
$spinner-gray-color: #C8C8C8;
$gray-color-m-light: #E8E8E8;

$gray-color-light: #F7F7F7;
$shadow-color    : #EEE;

$body-bg   : #FFF;
$body-color: #2B2B2B;

$color-primary: #17a2b8;
$secondary-color: #09b6f0;