<div class="fr-flex-child container h-100 d-flex flex-column align-items-center pt-4 pb-4">
    <main-links></main-links>
    <div class="fr-flex-child d-flex flex-column w-100 pt-4">
        <div class="w-100">
            <h2>Administración de Datos</h2>
            <hr class="mt-0" width="100%">
        </div>

        <div class="fr-flex-child d-flex align-items-stretch mt-3">
            <div class="col-md-3 col-lg-2 d-flex justify-content-center align-items-start">
                <div class="btn-group-vertical" role="group" aria-label="Basic example">
                    <button *ngIf="currentAction != actionCreate" type="button" class="btn btn-info"
                        (click)="taskButtonClick(actionCreate)">
                        <fa-icon [icon]="iconNew"></fa-icon>
                    </button>
                    <button *ngIf="currentAction != actionList" type="button" class="btn btn-outline-info"
                        (click)="taskButtonClick(actionList)">
                        <fa-icon [icon]="iconList"></fa-icon>
                    </button>
                    <button *ngIf="currentAction != actionRetrieve" type="button" class="btn btn-outline-info"
                        (click)="taskButtonClick(actionRetrieve)" [disabled]="!selectedUser.id">
                        <fa-icon [icon]="iconDetail"></fa-icon>
                    </button>

                    <button *ngIf="currentAction != actionUpdate" type="button" class="btn btn-outline-info"
                        (click)="taskButtonClick(actionUpdate)" [disabled]="!selectedUser.id">
                        <fa-icon [icon]="iconEdit"></fa-icon>
                    </button>

                    <button *ngIf="currentAction != actionDelete" type="button" class="btn btn-outline-danger"
                        (click)="taskButtonClick(actionDelete)" [disabled]="!selectedUser.id">
                        <fa-icon [icon]="iconDelete"></fa-icon>
                    </button>
                </div>
            </div>

            <div #animationContainer class="fr-animation-container col-md-9 col-lg-10 px-0">
                <div #listContainer class="fr-animation-item fr-animation-active fr-position-relative">
                    <users-list class="w-100" [reloadList]="reloadList" (onRowSelected)="catchSelectedRow($event)">
                    </users-list>
                </div>

                <div #detailContainer class="fr-animation-item fr-animation-right d-flex justify-content-center">
                    <user-detail class="w-100 d-flex justify-content-center" [selectedUserId]="selectedUser.id"
                        [retrieveData]="currentAction == actionRetrieve">
                    </user-detail>
                </div>

                <div #updateContainer class="fr-animation-item fr-animation-right px-1 d-flex justify-content-center">
                    <user-edit class="w-100 d-flex justify-content-center" [selectedUser]="selectedUser"
                        (afterUserEdit)="goToMainList($event)"></user-edit>
                </div>

                <div #deleteContainer class="fr-animation-item fr-animation-right d-flex justify-content-center">
                    <delete-detail class="w-100 d-flex justify-content-center" [selectedUser]="selectedUser"
                        (afterUserDeleted)="goToMainList($event)">
                    </delete-detail>
                </div>
            </div>
        </div>
    </div>
</div>